body{
  background-image: url('back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.thumbnail img{
  max-height: 150px;
  width: 300px;
}
.title-page{
  text-align: center;
  font-family: cursive;
  color: #00c8ff;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
.navbar-header a{
  font-size: 20px;
  font-weight: bold;
  font-family:  monospace;
}
.price{
  font-weight: bold;
  font-size: 16px;
}
.thumbnail .descrioption{
  color: grey;
}
